
.navbar {
    overflow: hidden;
    color:yellow;
    background-color: rgb(51, 51, 51);
    position:fixed;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 5px;   
    background-color: transparent;

}
nav a {
    color:yellow;
    margin: 2px;
    font-size: 80%;
    Font-weight: bold;
    border: 1px solid #1e3d58;
    background-color: #057DCD;
}

nav h1 {
    font-size: 80%;
    text-shadow:2px 2px black;
}
header {
    padding: 1%;
    background-color: #e8eef1;
    border:#1e3d58 1px solid;
    color: #057DCD;
}

h2 {
    color: #43B0F1;
    font-size: 40px;
}

h3 {
    color: #E8EEF1;
    font-size: 20px;
}
body {
    padding: 50px;
    background-color:#057dcd;
    display:flex; 
    flex-direction:column;
}

.experience {
    padding: 20px 40px 40px;
    max-width: auto;
}
.experience_image {
    width: 30%;
    padding: 20px;
    height: 30%;
    margin: 5px 30px 30px 0;
    float: left;
}

.experience_text {
    display: inline;
}

.hobbies {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    color: white;
    width: 0;
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    box-sizing: content-box;
    width: 400px;
    height: 150px;
    border: solid #e8eef1 1px;
    padding: 5px;
    
}

#outdoors {
    background-image: url(./Hawaii.JPG);
    background-repeat: no-repeat;
    background-size: 510px 175px;
}

#foodporn {
    background-image: url(./Pho.jpg);
    background-repeat: repeat;
    background-size: 260px 175px;
}

#business {
    background-image: url(./Palmtrees.JPG);
    background-repeat: no-repeat;
    background-size: 510px 255px;
}

#energyDrink {
    background-image: url(./Mtn.JPG);
    background-repeat: no-repeat;
    background-size: 510px 235px;
}

#footer {
    text-align: center;
    margin-top: auto;
    padding: 5px;
    color: #43B0F1;
    background-color: #e8eef1; 
    border:#1e3d58 1px solid;
}

footer a {
    color: #057DCD;
    margin: 5px;   

}

