

.box {
    text-align: center;
}

nav {
    margin-top: 1%;
    padding: 5px;
    background-color: #3d348b; 
    border:white 1px solid;
}

nav a {
    color:#e6af2e;
    margin: 1px;
    font-size: 80%;
    border: 1px solid white;
}

nav h1 {
    font-size: 80%;
    color: red;
}

header {
    padding: 1%;
    background-color: #3d348b;
    border:white 1px solid;
}

header h1, h2 {
    color: #e6af2e;
    font: 40px;
}

header h2 {
    font-size: 20px;
}

body {
    background-color:#beb7a4;
}

.image {
    width: 30%;
    padding: 20px;
    height: 30%;
}

/* .section1 {
    display: flex;
} */

body section h2 {
    display: inline;
}

footer {
    text-align: center;
    margin-top: 1%;
    padding: 5px;
    color: #e6af2e;
    background-color: #3d348b; 
    border:white 1px solid;
}

footer a {
    color: #e6af2e;
    border:white 1px solid;
}
